.navbar {
  height: 100px !important;
  background-color: #c5ced3;
}
.navbar-nav{
  margin-bottom: -6%;
  margin-right: 9%;
}
.navbar-dark{
   .navbar-nav{
    .nav-link{
      border-left: 1px solid #1e1f21;
      background-color: #2f3336;
      color: #ffffff;
      }
  }
}
.navbar-nav > .active > a {
  border-bottom: 3px solid #9dcc62;
  background: #27282a !important;   
}
.container-style{
  margin-top:10px;
  width:80%;
  background-color: #ffffff;
}
.select-container{
  margin-top: 10px;
}
.label-styles{
  font-weight: bold;
}
.labels-container{
  margin-top: 30px;
  background-color: #105d95;
}
.label-first, .label-second{
  color: #ffffff;
}
.label-first{
  padding: 5px 0px 0px 10px; 
}
.label-second{
  float: right;
  font-weight: bold;
  padding: 5px 10px 0px 0px; 
}
.image-container{
  margin-top: 10px;
}
.movies-list{
  margin-top: 20px;
}
.active-movie{
  background-color: #d2eba9;
}
.table-calc{
  margin-top: 30px;
}
.table-calc-secondary{
  margin-top: 10px;
}
.thead-custom{
  background-color: #0f7ac2;
  color: #ffffff;
}
.thead-custom th {
  padding: 1px 0px 1px 10px;
}
.tbody-custom td{
  padding: 10px 0px 1px 10px;
  width:300px;
  max-width: 310px;
}
.input-dimensions{
  width: 60%;
  height: 20px;
  margin: 10px 0 10px 0;
}
.results{
float: left;
}
@media only screen and (min-width: 600px) {
  .navbar {
    height: 100px !important; 
  }
}
@media only screen and (min-width: 768px) {
  .navbar {
    height: 120px !important; 
  } 
}